button {
  background: #6f1eaa;
  border-radius: 19px;
  width: 150px;
  height: 38px;
}
button span {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
