ul li {
  list-style-type: none;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 42px 0px 30px 0px;
}
.navigationItem {
  margin-right: 33px;
}
.navigationItem a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  /* margin-right: 33px; */
}
.navigation:last-child {
  margin-right: 0;
}
