.workCard {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.imageWorkCardContainer {
  width: 192px;
  height: 192px;
  border-radius: 50%;
  background: #fff7c2;
  margin-top: 65px;
  margin-bottom: 31px;
}
.imageWorkCardContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.workCardTitle {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #6f1eaa;
  margin-bottom: 11px;
}
.workCardDescription {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #000000;
}
