.workTitle {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 53px;
  text-align: center;
  color: #000000;
}
.workListContainer {
  padding: 60px 150px 60px 150px;
  background: #faf9f6;
}
.primaryBtn {
  display: flex;
  justify-content: center;
  margin-top: 65px;
}
