.cardSlideInfo {
  background: #dff5f6;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75vw;
  padding: 58px 45px 58px 40px;
  margin: 0 auto;
}
.cardSlideInfoText {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  margin-left: 40px;
}
.cardSlideInfoSignature {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 33px;
  color: #000000;
  margin-left: 16px;
}
.cardSlideInfoSignatureContent {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 40px;
}
